$themes:(
  blue:(
      primary-bg: #1996E2,
      primary-color: #FFFFFF,
         menu-bg: #41c4f8,
          menu-text-color: #FFFFFF,

       normal-size: 12px,
       big-size: 20px

  ),
   black:(

           primary-bg: #000000,
           primary-color: #FFFFFF,
           menu-bg: #343346,
           menu-text-color: #FFFFFF,

           normal-size: 20px,
           big-size: 40px
   )

)